@import url(font.css);
.container {
  font-family: 'IranSans' !important;
  direction: rtl;
  background-color: #F8F8F8;
  margin: 0 auto;
  max-width: 568px;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: 'IranSans' !important;
}